<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Simple TODO app</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <h1 class="mt-4">My TODO</h1>
                <ul>
                    {% for task in all_tasks %}
                    <li>
                        <input class="form-check-input" type="checkbox" value="" disabled {% if task.done %}checked{% endif %}>
                        <a href="{% url 'todos:detail' task.id %}">{{ task.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container">
                <h2>Add new task</h2>
                <form action="{% url 'todos:add' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="title" placeholder="Buy milk">
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
